:root {
  --main-background-color: grey;
  --main-txt-color: #fbeec1;
  --color-earthy-green-brown: #8d8741;
  --color-sky-blue: #659dbd;
  --color-terracotta: #daad86;
  --color-light-brown: #bc986a;
  --color-cream: #fbeec1;
  --color-off-white: #edf5e1;
  --color-house-blue: #7395ae;
  --color-grey-slate: rgb(93, 92, 97);
  --color-shale: #379683;
  --color-ocean-blue: rgb(85, 122, 149);
  --color-green: #479761;
  --color-light-green: #8ee4af;
  --color-orange: rgb(247, 180, 56);
  background-color: transparent;
  /* background-image: url("https://cdnb.artstation.com/p/assets/images/images/001/227/905/large/jorge-jacinto-archway-by-jjcanvas-d8mu38k.jpg?1442572611");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; */
}

/* Sets the footers parameters */
.footer {
  background-color: rgba(71, 151, 97, 50%);
  display: flex;
  justify-content: space-evenly;
  /* Adjusts the footers position */
  position: fixed;
  left: 0px;
  bottom: 10px;
  width: 100%;
  /* border: 2px solid white; */
  flex-wrap: wrap;
  padding-bottom: 0px;
  z-index: 0;
}

.footerLogo {
  background-color: #bc986a;
  /* Adjusts the footers position */
  color: black;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding-bottom: 0px;
  z-index: 0;
}

/* The area that player symbols are shown */
.playerFooter {
  background-color: var(--color-light-brown);
  display: flex;
  justify-content: space-evenly;
  /* Adjusts the footers position */
  position: fixed;
  left: 0px;
  bottom: 25%;
  width: 100%;
  height: 50%;
  border: 2px solid white;
  flex-wrap: wrap;
  padding-bottom: 0px;
}

/* color classes that allow for easy color change by class */
.color-black {
  color: black;
}
.color-white {
  color: white;
}
.color-orange {
  color: var(--color-orange);
}

/* green hover effect for buttons */
.iconFooter:hover {
  color: var(--color-orange);
  transition: all 0.3s ease;
}

/* font sizes and spacing for icons used as buttons */
.size3 {
  font-size: 3em;
  padding-top: 0px;
  padding-right: 3px;
  padding-left: 3px;
}
.player {
  font-size: 4em;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
.size2half {
  font-size: 2.5em;
  padding-top: 5px;
  padding-right: 3px;
  padding-left: 3px;
}

/* background color for the whole site */
body {
  background-color: var(--main-background-color);
  color: var(--main-txt-color);
}

/* home page visuals */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* stats styling */
.CharStats {
  color: black;
  background-color: var(--color-light-brown);
  margin: 0px;
}
.CharStat {
  background-color: var(--color-ocean-blue);
  border: 3px solid var(--color-light-brown);
  margin: 0px;
}

/* button styling */
.btn-primary {
  color: #fff;
  background-color: var(--color-light-brown);
  border-color: var(--color-light-brown);
}

.mapsDiv {
  height: 76vh;
  overflow-y: scroll;
}

.playerDiv {
  height: 83vh;
  overflow-y: scroll;
}

.shopPtag {
  margin: 0px;
  color: white;
}

#shopBuyButton {
  color: var(--color-orange);
  font-weight: bold;
}

.shopDiv {
  height: 83vh;
  overflow-y: scroll;
  z-index: 0;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* character item styling */
.items {
  color: white;
  /* font-family: fantasy; */
  font-size: 0.75rem;
  border: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#item {
  margin: 5px !important;
  background-color: rgba(93, 92, 97, 0.733);
}

#itemImage {
  opacity: 1;
  zoom: 110%;
}

.font-maps-p{

}

.font-maps-h5{

}

/* lines to be used throughout app */
.line {
  margin-bottom: 1.5rem !important;
  border-bottom: 1.5px solid white;
  margin-left: 25px;
  margin-right: 25px;
}

.thin-line {
  margin-bottom: 1.5rem !important;
  border-bottom: 1px solid var(--color-grey-slate);
  margin-left: 30%;
  margin-right: 30%;
}

/* next day section style */
#divGroupOne {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#divGroupTwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#divTurnCounter {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  color: white;
}

/* spacing to be used */
.spacing {
  margin: 30px;
}

/* quick title coloring and spacing */
.title {
  background-color: var(--color-light-brown);
  text-align: center;
}
.appTitle {
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.lineTitle {
  border-bottom: 2px solid white;
  margin-left: 22px;
  margin-right: 22px;
}

.line {
  border-bottom: 2px solid white;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2px;
}

.appVersion {
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

/* main area styling */
.mainPage {
  background-color: rgba(71, 151, 97, 25%);
  color: white;
  padding-bottom: 10px;
  text-align: center;
  /* border: 2px solid white; */
  max-height: 40%;
  min-height: 40%;
}
.mainPage2 {
  color: white;
  padding-bottom: opx;
  text-align: center;
  height: 83%;
  overflow-y: scroll;
  z-index: -1;
}
.createItems {
  margin-top: 1vh;
  background-color: #47976098;
  color: white;
  padding-bottom: 0px;
  text-align: center;
  border: 2px solid white;
  max-width: 75vw;
  min-width: 75vw;
  min-height: 50vh;
  max-height: 80vh;
}
.createPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#mainPage {
  background-color: transparent;
  color: white;
  margin-bottom: 85px;
}

/* coming soon ribbon */
.comingSoon {
  background-color: rgba(247, 180, 56, 50%);
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: white;
}

/* turn counter spacing */
#turnCounter {
  margin-bottom: 0px;
}

.playerPage {
  color: white;
  text-align: center;
}

.itemDOMComponent {
  color: white;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  padding: 0px;
}

.item {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#loginMain {
  display: flex;
  justify-content: flex-end;
}

h3.CharStat {
  background-color: var(--color-sky-blue);
}

.logout-btn {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  margin: 0px;
  background-color: var(--color-grey-slate);
}

.logout-btn-page {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
}

.logout-btn button {
  background-color: var(--color-off-white);
  color: white;
}

input {
  background-color: var(--color-sky-blue);
  border-color: var(--color-grey-slate);
}

.editButton {
  display: flex;
  justify-content: flex-end;
}

.space-background {
  background-image: url("https://cdna.artstation.com/p/assets/images/images/000/788/884/medium/daniel-thomas-calypso-s-shop-2.jpg?1433168266");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.space-background-two {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/001/227/905/large/jorge-jacinto-archway-by-jjcanvas-d8mu38k.jpg?1442572611");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  height: 100vh;
  zoom: 110%;
  z-index: -1;
}

.mapPage {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/006/742/781/large/niall-pearce-dnd-map.jpg?1500934098");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  height: 100vh;
}
.dayPage {
  background-image: url("./backgroundImages/ruined_temple.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  z-index: -1;
}

.playerPage {
  background-image: url("./backgroundImages/castle-on-waterfall.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  z-index: -1;
}

.hanger-background {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/000/234/511/medium/wiebke-scholz-sts-between-worlds-bg01.jpg?1412414034");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.grey-background {
  background-color: rgba(93, 92, 97, 70%);
  padding-top: 3px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.grey-background-player {
  background-color: rgba(93, 92, 97, 70%);
  padding-top: 3px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tan-background {
  background-color: #bc986ac9;
  padding-top: 3px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.green-background {
  background-color: #479760c7;
  padding-top: 3px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.blue-background {
  background-color: rgba(85, 122, 149, 70%);
  padding-top: 3px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-radius: 10px;
}
.blue-background-player {
  background-color: rgba(85, 122, 149, 70%);
  padding-top: 3px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.zoom {
  zoom: 50%;
}

.orange-background {
  background-color: rgba(247, 180, 56, 55%);
  padding-top: 3px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.orange-background-player {
  background-color: rgba(247, 180, 56, 55%);
  padding-top: 3px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#name {
  text-align: center;
  color: white;
  background-color: #4797606b;
  min-width: 50vw;
  max-width: 50vw;
  min-height: 4.5vh;
  max-height: 4.5vh;
  border-radius: 10px;
  border-right: 2px solid #47976098;
  border-bottom: 2px solid #47976098;
  border-left: 2px solid #1a4b2998;
  border-top: 2px solid #1a4b2998;
}

#statOne {
  text-align: center;
  color: white;
  background-color: #4797606b;
  min-width: 50vw;
  max-width: 50vw;
  min-height: 4.5vh;
  max-height: 4.5vh;
  border-radius: 10px;
  border-right: 2px solid #47976098;
  border-bottom: 2px solid #47976098;
  border-left: 2px solid #1a4b2998;
  border-top: 2px solid #1a4b2998;
}

#statTwo {
  text-align: center;
  color: white;
  background-color: #4797606b;
  min-width: 50vw;
  max-width: 50vw;
  min-height: 4.5vh;
  max-height: 4.5vh;
  border-radius: 10px;
  border-right: 2px solid #47976098;
  border-bottom: 2px solid #47976098;
  border-left: 2px solid #1a4b2998;
  border-top: 2px solid #1a4b2998;
}

#description {
  text-align: center;
  color: white;
  background-color: #4797606b;
  min-width: 50vw;
  max-width: 50vw;
  min-height: 4.5vh;
  max-height: 4.5vh;
  border-radius: 10px;
  border-right: 2px solid #47976098;
  border-bottom: 2px solid #47976098;
  border-left: 2px solid #1a4b2998;
  border-top: 2px solid #1a4b2998;
}

#image {
  text-align: center;
  color: white;
  background-color: #4797606b;
  min-width: 50vw;
  max-width: 50vw;
  min-height: 4.5vh;
  max-height: 4.5vh;
  border-radius: 10px;
  border-right: 2px solid #47976098;
  border-bottom: 2px solid #47976098;
  border-left: 2px solid #1a4b2998;
  border-top: 2px solid #1a4b2998;
}

#value {
  text-align: center;
  color: white;
  background-color: #4797606b;
  min-width: 20vw;
  max-width: 20vw;
  min-height: 4.5vh;
  max-height: 4.5vh;
  border-radius: 10px;
  border-right: 2px solid #47976098;
  border-bottom: 2px solid #47976098;
  border-left: 2px solid #1a4b2998;
  border-top: 2px solid #1a4b2998;
}

#itemRarityId {
  text-align: center;
  color: white;
  background-color: #4797606b;
  min-width: 20vw;
  max-width: 20vw;
  min-height: 4.5vh;
  max-height: 4.5vh;
  border-radius: 10px;
  border-right: 2px solid #47976098;
  border-bottom: 2px solid #47976098;
  border-left: 2px solid #1a4b2998;
  border-top: 2px solid #1a4b2998;
}

#locationCode {
  text-align: center;
  color: white;
  background-color: #479760da;
  min-width: 50vw;
  max-width: 50vw;
  min-height: 4.5vh;
  max-height: 4.5vh;
  border-radius: 10px;
  border-right: 2px solid #47976098;
  border-bottom: 2px solid #47976098;
  border-left: 2px solid #1a4b2998;
  border-top: 2px solid #1a4b2998;
}

#changeLocationButton {
  text-align: center;
  color: white;
  font-size: 1.25rem;
  background-color: #479760d3;
  min-width: 60vw;
  max-width: 60vw;
  border-radius: 10px;
  border-right: 2px solid #1a4b2998;
  border-bottom: 2px solid #1a4b2998;
  border-left: 2px solid #47976098;
  border-top: 2px solid #47976098;
}

#changeLocationButton:hover {
  background-color: #1a4b2998;
  color: white;
}

option {
  background-color: rgba(93, 92, 97, 100%);
  text-align: center;
}

.submit {
  text-align: center;
  color: white;
  font-size: 1.25rem;
  background-color: #4797606b;
  min-width: 60vw;
  max-width: 60vw;
  border-radius: 10px;
  border-right: 2px solid #1a4b2998;
  border-bottom: 2px solid #1a4b2998;
  border-left: 2px solid #47976098;
  border-top: 2px solid #47976098;
}

button:hover {
  background-color: #1a4b2998;
  color: white;
}

#itemTypeId {
  text-align: center;
  color: white;
  background-color: #4797606b;
  min-width: 20vw;
  max-width: 20vw;
  border-radius: 10px;
  border-right: 2px solid #47976098;
  border-bottom: 2px solid #47976098;
  border-left: 2px solid #1a4b2998;
  border-top: 2px solid #1a4b2998;
}

::placeholder {
  color: rgba(255, 255, 255, 50%);
}

/* ######################################################################## */
/* ##################### Three Image Transition ########################### */

body {
  margin: 0;
  overflow: hidden;
}

canvas {
  background-image: radial-gradient(#666, #333);
}

#instructions {
  position: absolute;
  color: #fff;
  bottom: 100px;
  padding-bottom: 6px;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  pointer-events: none;
}
